*{
	font-family: Roboto, sans-serif;
	font-size: 25px;
	color: white;
}
body{
	background-color: #111 !important;
	padding: 5px;
}
#bring{
	background-color: #111;
	padding: 10px;
	width: 75vw;
	border: 1px solid #00ff69;
	border-radius: 1 !important;
	border-bottom: 1px solid #00ff69;
	font-family: "Ubuntu Mono",monospace;
	transition: border-bottom 0.5s;
	background-color: #222;
	caret-color: #00ff69;
	caret-shape: block; /*AA WHY DOES THIS NOT HAVE MUCH SUPPORT*/
}
#bring:focus{
	border-bottom: 5px solid #00ff69;
	/*transition: border-bottom 0.5s;*/
}
#bring-wrapper{
	text-align: center;
}
button{
	border-radius: 5px;
	background-color: #000;
	border: none;
	margin: 10px;
	border: 1px solid #00ff69;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	transition: background-color 0.35s;
}
message{
	background-color: #222;
	border-radius: 10px;
	display: block;
	font-size: 20px;
	padding: 5px;
	margin-top: 5px
}
a{
	font-size: 20px;
	color: #43f !important;
}
button:hover{
	color: #000 !important;
	background-color: #00ff69
}
.help{
	float: right;
	opacity: 0.5
}
window{ 
	display: block;
	background-color: #222;
	padding: 10px;
	border-radius: 10px;
	width: 95vw;
	height: 95vh;
	position: absolute;
	top: 0;
	left: 0;
}
.win-close{
	color: red;
}
.hidden{
	display: none;
}
.results{
	display: block;
	border: none;
	height: 70vh;
	width: 80%;
}