#messages {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.msg {
  max-width: 300px;
  width: 100%;
  background-color: #003315;
  margin: 15px;
  border-radius: 8px;
  padding: 15px;
  overflow-wrap: break-word;
  text-align: left;
  transition: transform .3s;
  color: #fff !important;
  text-decoration: none;
}

.msg>div>div:nth-child(2) {
  font-weight: 500;
}

.msg>div>div:nth-child(2):hover {
  text-decoration: underline;
}

.msg>div>div:first-child {
  font-size: .6em;
}

.msg>div>div:last-child {
  font-size: .59em;
}

.msg:active {
  transform: scale(.95);
}

body {
  background-color: #111;
  padding: 5px;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  color: white;
}

#bring {
  background-color: #111;
  padding: 10px;
  width: 75vw;
  border: 1px solid #00ff69;
  border-radius: 1 !important;
  border-bottom: 1px solid #00ff69;
  font-family: "Ubuntu Mono", monospace;
  transition: border-bottom 0.5s;
  background-color: #222;
}


button {
  border-radius: 5px;
  background-color: #000;
  border: none;
  margin: 10px;
  border: 1px solid #00ff69;
  padding: 5px 20px;
  transition: background-color 0.35s;
  color: #fff;
}

a {
  font-size: 20px;
  color: #43f !important;
}

#bring-wrapper {
  text-align: center;
}

input { color: #fff; }